# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env
.env.local
.env.*.local

# Logs
logs
*.log
debug.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Prisma
prisma/dev.db
prisma/migrations/

# Others
*.tgz
*.zip
*.tar
/src/generated/prisma
